// compileOnSave: false

/* NOTE Tried with @each, but that didn't work within comment */
/*! @settings
name: Solarized Theme Settings
id: solarized-theme-settings
settings:
  - id: colors
    title: Colors
    type: heading
    level: 2

  - id: colors
    title: Base Tones
    type: heading
    level: 3

  - id: base03
    title: base03
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base03")})
    alt-format:
    - id: base03-rgb
      format: rgb-values

  - id: base02
    title: base02
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base02")})
    alt-format:
    - id: base02-rgb
      format: rgb-values

  - id: base01
    title: base01
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base01")})
    alt-format:
    - id: base01-rgb
      format: rgb-values

  - id: base00
    title: base00
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base00")})
    alt-format:
    - id: base00-rgb
      format: rgb-values

  - id: base0
    title: base0
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base0")})
    alt-format:
    - id: base0-rgb
      format: rgb-values

  - id: base1
    title: base1
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base1")})
    alt-format:
    - id: base1-rgb
      format: rgb-values

  - id: base2
    title: base2
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base2")})
    alt-format:
    - id: base2-rgb
      format: rgb-values

  - id: base3
    title: base3
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "base3")})
    alt-format:
    - id: base3-rgb
      format: rgb-values

  - id: colors
    title: Accent Colors
    type: heading
    level: 3

  - id: yellow
    title: yellow
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "yellow")})
    alt-format:
    - id: yellow-rgb
      format: rgb-values

  - id: orange
    title: orange
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "orange")})
    alt-format:
    - id: orange-rgb
      format: rgb-values

  - id: red
    title: red
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "red")})
    alt-format:
    - id: red-rgb
      format: rgb-values

  - id: magenta
    title: magenta
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "magenta")})
    alt-format:
    - id: magenta-rgb
      format: rgb-values

  - id: violet
    title: violet
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "violet")})
    alt-format:
    - id: violet-rgb
      format: rgb-values

  - id: blue
    title: blue
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "blue")})
    alt-format:
    - id: blue-rgb
      format: rgb-values

  - id: cyan
    title: cyan
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "cyan")})
    alt-format:
    - id: cyan-rgb
      format: rgb-values

  - id: green
    title: green
    type: variable-color
    format: rgb
    default: rgb(#{map.get($colors, "green")})
    alt-format:
    - id: green-rgb
      format: rgb-values

  - id: misc
    title: Miscellaneous
    type: heading
    level: 3

  - id: color-accent
    title: Application Accent color
    type: variable-color
    format: rgb
    default: rgb(#{map.get$colors, "orange")})

  - id: active-bg
    title: Current line highlight
    type: variable-color
    opacity: true
    format: rgb
    default: rgb(#{map.get$colors, "orange")})
*/
