// compileOnSave: true, expandedFilenamePattern: $1.css

@import "_colors";
@import "_variables";

.cm-s-obsidian {

  /* Checkboxes */
  span.cm-formatting-task {
    color: var(--checkbox-color);
  }

  /* Links */
  span.cm-formatting-link {
    color: var(--link-color);

    &.cm-strikethrough {
      text-decoration-line: line-through;
    }
  }

  span.cm-link {
    color: var(--link-external-color) !important;
  }

  span.cm-url {
    &.cm-strikethrough {
      text-decoration-line: line-through;
    }
  }

  /* Tables */
  .HyperMD-table-row-0 {
    font-weight: var(--font-bold);
  }

  /* Search results */
  span.obsidian-search-match-highlight {
    box-shadow: unset;
    mix-blend-mode: unset;
    border-radius: unset;
    background: var(--green);
    color: var(--text-on-accent);
    padding: 2px 0;
  }

  /* Code */
  span.cm-comment {
    color: var(--code-comment);
  }

  span.cm-inline-code {
    padding: 2px 0;
  }

  /* Highlights */
  span.cm-formatting-highlight,
  span.cm-highlight {
    color: var(--text-on-accent);
    padding: 2px 0;
  }
}

/* More code */
.cm-def {
  color: var(--code-function);
}

.cm-atom {
  color: var(--code-value);
}

.cm-hmd-frontmatter.cm-hmd-frontmatter.cm-atom,
.cm-hmd-frontmatter.cm-hmd-frontmatter.cm-def {
  color: var(--interactive-accent);
}

/* Search results */
.is-flashing {
  border-radius: unset;
}

.search-result-file-matched-text {
  color: var(--text-on-accent);
  padding: 2px 0;
}

.markdown-rendered {
  .internal-link.is-unresolved:hover {
    color: var(--link-unresolved-color-hover);
    text-decoration-color: var(--link-unresolved-color-hover);
  }
}

/* Highlight current line */
.cm-active {
  background: var(--active-bg);

  &.cm-gutterElement {
    color: var(--color-accent);
  }
}

/* Hashtags */
.cm-hashtag {

  &.cm-hashtag-begin,
  &.cm-hashtag-end {
    border: unset;
    border-radius: unset;
  }
}

/* https://github.com/nothingislost/obsidian-dynamic-highlights */
.cm-current-word,
.cm-matched-word,
.cm-current-string,
.cm-matched-string {
  background: var(--yellow);
  color: var(--text-on-accent);
  text-decoration: none;
  padding: 2px 0;
}


/* File explorer */
.is-flashing {
  color: var(--text-on-accent) !important;
}

.workspace-leaf.mod-active {

  .nav-folder.has-focus>.nav-folder-title,
  .nav-file.has-focus>.nav-file-title {
    box-shadow: 0 0 0 2px var(--color-accent);
  }
}

/* Community theme and plugin browsers */
.community-item {
  &:hover {
    border-color: var(--color-accent);
  }
  .suggestion-highlight {
    color: var(--text-on-accent);
    font-weight: unset;
  }
}
